<div class="jumbotron">    
    <img src="http://geagis.com/wp-content/uploads/2016/08/logo-mail.jpg" alt="gea" />
    <p class="lead">En Geagis, nos unimos a su conocimiento y experiencia para crear grandes proyectos
Implementamos soluciones innovadoras orientadas
a optimizar procesos, reducir costos e incrementar la productividad.</p>
    <p><a href="http://geagis.com/" class="btn btn-primary btn-lg">Conozcanos &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sincronización de datos</h2>
        <p>ASP.NET Web API de sincronización de datos entre el backend y el dispositivo movil</p>
        <p><a class="btn btn-default" href="/Help/Api/GET-api-Values">Documentación &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Listado de usuarios</h2>
        <p>Servicio de sincronización de datos de usuarios para las aplicaciones</p>
        <p><a class="btn btn-default" href="/Help/Api/PUT-api-Values-id">Documentación &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Proyectos, visitas</h2>
        <p>Servicio que permite tener acceso a los diferentes proyectos y visitas</p>
        <p><a class="btn btn-default" href="/Help/Api/DELETE-api-Values-id">Documentación &raquo;</a></p>
    </div>
</div>
